@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");

:root {
  --bg-color1: #1b1b1e;
  --bg-color2: #53a3cb;
  --bg-color3: #17171a;
  --bg-color4: #090909;
  --bg-color5: #fff;
}

* {
  box-sizing: border-box;
}

html,
body,
div,
span,
h1,
h2,
h3,
footer,
header,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.grid {
  display: grid;
}
.flex {
  display: flex;
}
.flow {
  gap: 1rem;
}
.flow--small {
  gap: 0.5rem;
}

body {
  line-height: 1;
  font-family: "Roboto", sans-serif;
  background-color: var(--bg-color1);
  color: var(--bg-color5);
}

.hero {
  display: grid;
  gap: 2rem;
  width: 100%;
  height: 100%;
  padding: 5rem 2rem;
}

header h1 {
  font-size: 2.5rem;
  font-weight: 700;
  min-width: 15ch;
}

h1 span {
  color: #53a3cb;
}

#pass-gen-btn {
  border: 0;
  background-color: #53a3cb;
  color: #fff;
  height: 2.5rem;
  border-radius: 10px;
  font-size: 1.3rem;
  font-weight: 500;
}

#subs-btn,
#add-btn {
  background-color: #53a3cb;
  color: #fff;
  border: 0;
  width: 2rem;
  height: 1.5rem;
  border-radius: 3px;
  font-size: 1.3rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.preferences {
  font-size: 1.2rem;
}

#length-counter {
  border: 0;
  width: 2rem;
  height: 1.5rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
}
.check {
  filter: brightness(1.5) saturate(0.5);
  transform: scale(1.5);
}

.passwords button {
  height: 2.5rem;
  border: 0;
  color: #fff;
  background-color: #090909;
}
.invisible {
  display: none;
}
#error {
  color: #fff;
  font-weight: bold;
}

#copyToClipboard {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color2);
  opacity: 0;
}

.popUp {
  animation: popUp 2s ease-in-out 1;
}

@keyframes popUp {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (min-width: 35rem) {
  #pass-gen-btn {
    max-width: 50%;
  }

  header h1 {
    font-size: clamp(2.5rem, 3vw + 1rem, 4rem);
  }
  header {
    max-width: 50%;
  }

  .passwords {
    max-width: 80%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
